{% extends 'base.html.twig' %}

{% block body %}
    <div class="login">
        <h2>Sign up</h2>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <button type="submit">Sign Up</button>
        {{ form_end(form) }}

        <div>
{#            <a href="{{ path('security/login.html.twig') }}">Log In</a>#}
        </div>
    </div>
{% endblock body %}