{% form_theme form 'form/pure_theme.html.twig' %}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    <button type="submit" class="pure-button pure-button-primary">Save</button>
{{ form_end(form) }}