{% extends 'base.html.twig' %}

{% block body %}

    <h2>Parts information</h2>

    <div class="part-page-nav">
        <a href="{{ path('app_crud_part_new') }}">Add new part</a> |
        {% if app.request.get('page') > 1 %}
            <a href="{{ path('app_crud_part_index', {'page': 1 }) }}">&lArr; First</a>
            | <a href="{{ path('app_crud_part_index', {'page': app.request.get('page') - 1 }) }}">&larr; Previous</a> |
        {% endif %}

        <a href="{{ path('app_crud_part_index', {'page': app.request.get('page', 1) + 1 }) }}">Next &rarr;</a>
    </div>

    {% for part in parts %}
        <div>
            <p><b>Name:</b> {{ part.name }}</p>
            <p><b>Price:</b> {{ part.price }}</p>
        </div>
        <div class="part-action">
            <a href="{{ path('app_crud_part_show', {'id': part.id }) }}">Show</a>
            | <a href="{{ path('app_crud_part_update', {'id': part.id}) }}">Edit</a> |
            <a href="{{ path('app_crud_part_delete', {'id': part.id }) }}"
               onclick="return confirm('Delete part {{ part.name }}?')">Delete</a>
        </div>
    {% endfor %}

{% endblock body %}